.boardTaskBackground {
  display: flex;
  max-width: 334px;
  width: 100%;
  margin-right: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px #0000001a;
  overflow: hidden;
  border-left: 4px solid transparent;
}

.boardTask {
  width: 100%;
  background: var(--secondary-btn-bgc);
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--task-main);
}

.priorityCircle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.taskTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: var(--input-text-color);
  margin-bottom: 14px;  
  overflow: hidden;
  white-space: nowrap;
}

.taskDescr {
  width: 100%;
  overflow: hidden;
  text-align: left;

  p{
    letter-spacing: -0.02em;
    font-size: 12px;
    font-weight: 400;
  }
}

.taskInfo {
  position: relative;
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid var(--task-line);
  font-size: 12px;
  line-height: 100%;
  display: flex;
  width: 290px;
  gap: 14px;
  align-items: flex-end;
}

.priorityBoxText {
  display: flex;
  gap: 8px;
  text-transform: capitalize;
}

.priorityBox{
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  text-transform: capitalize;

  p{
    font-size: 12px;
  }
}

.bordifyps {
  font-size: 12px;
  line-height: 100%;
  color: var(--input-text-color);
  font-weight: 400;
  text-align: left;
}

.deadlineBox {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    font-size: 12px;
    text-align: left;
  }
}

.task_controller {
  position: absolute;
  top: 50%;
  right: 5px;
}