.btn {
  all: unset;
  background: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  border: none;
  color: var(--logo-text-color);
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  stroke: var(--logout-icon-color);
  fill: transparent;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1440px) {
  .btn {
    font-size: 16px;
  }
}
