.container {
  background: linear-gradient(180deg, #ffffff 25%, #bedbb0 92.19%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.textContainer {
  text-align: center;
}

.title {
  font-size: 120px;
  font-weight: 700;
  color: #161616;
  margin: 0;
  line-height: 1;
}

.message {
  font-size: 24px;
  color: #161616;
  margin: 0;
}

.button {
  color: #fff;
  background-color: #161616;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--font-family);
  width: 280px;
  height: 49px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2a2a2a;
}

@media only screen and (min-width: 375px) {
  .button {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    gap: 60px;
  }
  
  .title {
    font-size: 160px;
  }
  
  .message {
    font-size: 32px;
  }
  
  .button {
    width: 344px;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 200px;
  }
  
  .message {
    font-size: 40px;
  }
}